@import url(style.css);
/*singer-----------index-----------singer*/
.play-show{overflow: hidden;zoom: 1;border: 1px solid #e2e2e2;float: left;margin: 5px;text-align: center;}
.play-intro{width: 293px;padding: 10px;}
.show-img{width: 293px;height: 200px;}
.play-list{width: 634px;border-left: 1px solid #e2e2e2;}
.play-list2{width: 634px;border-left: 1px solid #e2e2e2;}
.play-list{width: 623px;border: 1px solid #e2e2e2;margin:10px;margin-left: 0px}
.play-list .layui-collapse{border: 0px;border-bottom: 1px solid #e2e2e2;}
.play-nobr{width: 350px;overflow: hidden;display: inline-flex;white-space: nowrap;text-overflow:ellipsis;}
.iwidth{width: 22px;padding: 0;margin-right: 10px}
.listLeft{width:260px;overflow: hidden;display:block;white-space: nowrap;text-overflow:ellipsis;}
.listLeft2{width:300px;overflow: hidden;display:block;white-space: nowrap;text-overflow:ellipsis;}
.listLeft3{width:210px;overflow: hidden;display:block;white-space: nowrap;text-overflow:ellipsis;}
.page .on{background-color: #009688;color: white;border-radius: 2px;}
.zm{width: 31px;height: 22px;text-align: center;padding: 0;}

.left-more{font-size: 12px;float: right;color: #666;display: block;position: relative;right: 10px;}
.left-more:hover{color:#1E9FFF}
.title-tags{border: 1px solid #e2e2e2;border-bottom: 0px;}
.title-tags li{position: relative;height: 42px;text-align: left;line-height: 42px;padding: 0 15px 0 15px;color: #333;background-color: #f2f2f2;cursor: pointer;}
.title-tags li a:hover{color: #FF5722;}
.title-tags .icon{float: left;width: 20px;}
.gs-list{padding: 7px;}
.gs-list li{width: 110px;height: 145px;float: left;margin: 5px}
.gs-list li img{width: 110px;height: 110px;}
.gs-list p{width: 110px;display: block;height: 35px;line-height: 35px;overflow: hidden;text-align: center;}
.gs-list2{padding:7px;}
.gs-list2 li{width: 100px;height: 30px;line-height: 30px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;display: block;float: left;}
/*singer----------------show-------------------singer*/
.gs-same{width: 83px;height: 103px;float: left;margin: 5px;}
.gs-same .s_name{display: block;text-align: center;line-height: 20px;font-size: 12px;width: 83px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.gs-imgList{float: left;margin: 0 5px;border: 1px solid #c2c2c2}
.dance_nobr{max-width: 280px;text-overflow:ellipsis;
white-space: nowrap;overflow: hidden;display: block;float: left;margin-top: 5px;line-height: 30px;}
.singer-nlist{padding:10px;text-align: left;border-top: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2;}
