.md-head-more{display: none;background-color: #393D49;border-top: 1px solid #666;margin-top: -1px;padding-top: 5px}
.mclass{padding: 5px;text-align: center;}
.mclass a{color: #eee;padding: 3px 5px;display: inline-block;margin-bottom: 5px;}
.md-head-search{padding:5px 10px 10px;position: relative;border: 0px}
.md-head-search button{position: absolute;top: 4.3px;right: 10px;height: 31px}
.md-head-search input{height: 30px;line-height: 30px}

/*singer--index---singer*/
.ms-ul{text-align: center;margin-left: 2px}
.ms-li{display: inline-block;width: 95px;height: 120px;margin-right: 2px}
.ms-li a{display: block;}
.ms-li img{width: 95px;height: 95px;}
.ms-li p{line-height: 20px;width: 100%;height: 20px;display: block;overflow: hidden;}
.ms-name{margin-right: 4px;margin-bottom: 10px;display: inline-block;border: 1px solid #ccc;border-radius: 15px;padding: 3px 9px;font-size: 12px;width: 43px;text-align: center;overflow: hidden;height: 19px;line-height: 19px;}
/*singer--show---singer*/
.md-zj{width: 100%;}
.md-zj tr{margin-bottom: 10px;display: block;}
.md-zj tr .md-zj-info{padding-left: 10px}
.md-zj tr .md-zj-info a{text-align: left;display: block;height: 25px;line-height: 25px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ms-intro{height: 35px;overflow: hidden;font-size: 12px;color: #666;line-height: 17px;}
.mp-more{overflow: hidden;font-size: 12px;color: #999;white-space: nowrap;overflow: hidden;line-height: 17px}
.mp-more span{display: inline-block;text-align: center;padding-right: 10px;font-size: 12px;}
.ms-bname{color: #999;}

@media only screen and (min-width: 300px) and (max-width: 330px) {
    
}
@media only screen and (min-width: 330px) and (max-width: 360px) {
	.ms-li{display: inline-block;width: 110px;height: 135px;margin-right: 5px}
	.ms-li img{width: 110px;height: 110px;}
}
@media only screen and (min-width: 360px) and (max-width: 380px) {
	.ms-li{display: inline-block;width: 110px;height: 135px;margin-right: 5px}
	.ms-li img{width: 110px;height: 110px;}
}
@media only screen and (min-width: 381px) and (max-width: 450px) {
	.ms-ul{text-align: center;margin-left: 3px}
	.ms-li{display: inline-block;width:93px;height: 120px;margin-right: 3px}
	.ms-li img{width: 95px;height: 93px;}
	.ms-name{margin-right: 4px;margin-bottom: 10px;display: inline-block;border: 1px solid #ccc;border-radius: 15px;padding: 3px 6px;font-size: 12px;width: 43px;text-align: center;overflow: hidden;height: 19px;line-height: 19px;}
}
@media only screen and (min-width: 451px){
	.ms-li{display: inline-block;width: 115px;height: 140px;margin-right: 5px}
	.ms-li img{width: 115px;height: 115px;}
	.ms-name{margin-right: 4px;margin-bottom: 10px;display: inline-block;border: 1px solid #ccc;border-radius: 15px;padding: 3px 8px;font-size: 12px;width: 43px;text-align: center;overflow: hidden;height: 19px;line-height: 19px;}
}